# ======================
# 🔒 SECRETS
# ======================
.env
.env.*
!.env.example

# ======================
# 🧠 JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# 🐍 PYTHON
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# 📊 DATA
# ======================
# données intermédiaires / lourdes
03_projet-perso-fact-news-territoires-py_excel/cleaned_data
03_projet-perso-fact-news-territoires-py_excel/source_files
# ======================
# 💻 SYSTEM
# ======================
.DS_Store
Thumbs.db