# ======================
# 🔒 SECRETS
# ======================
.env
.env.*
!.env.example

# ======================
# 🧠 JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# 🐍 PYTHON
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# 📊 DATA
# ======================
# données intermédiaires / lourdes
03_TerriZoom_analyse_multicritere_territoriale_aide_decision_python_powerbi/cleaned_data/
03_TerriZoom_analyse_multicritere_territoriale_aide_decision_python_powerbi/source_files/
# ======================
# 💻 SYSTEM
# ======================
.DS_Store
Thumbs.db